<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
             <h3>I'am in the app component</h3> -->
           
           <!-- <app-servers></app-servers>

        </div>
    </div>
</div>
<h1 [innerText]="title"></h1> -->
<!-- <h2>Example 1</h2>
<button [disabled]="isDisabled">I am disabled </button> --> 

<!-- <h1>The send data is: {{message}}</h1> -->

<!-- <app-header></app-header> -->
<!-- <nav class ="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid"> -->
        <!-- <a href="#" class="navbar-brand">Angular</a> -->
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Datahub/create" href="#">Add Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Datahub/about" href="#">About Us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="Datahub/resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Datahub/contact">Contact Us</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search..">
                <button class="btn btn-outline-danger" type="submit">Search</button>
    </form>
    </div>
    </div>
</nav> -->
<!-- <main class ="container-fluid">
    <div class="bg-light p-5 rounded-bottom">
<div class="jumbotron">
    <h1 class="display-4">Angular Crud Application</h1>
    <p class="lead">This Apps perform Create, Read, Update and Delete operation...</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Lets perform</a>
    </p>
  </div>
  </div>
  </main> -->

  <mat-toolbar color="primary"> 
    <span>CRUD APP V 1.0</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openAddEditEmployeeForm()">
      Add Employee
    </button>
  </mat-toolbar>
  
 <div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- firstname Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> firstname </th>
        <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
      </ng-container>
  
      <!-- lastname Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> lastname </th>
        <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <!-- Dob Column -->
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dob </th>
        <td mat-cell *matCellDef="let row"> {{row.dob |date }} </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>

      <!-- Education Column -->
      <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
        <td mat-cell *matCellDef="let row"> {{row.education}} </td>
      </ng-container>
        <!-- Company Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let row"> {{row.company}} </td>
      </ng-container>

      <!-- Package Column -->
      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Package </th>
        <td mat-cell *matCellDef="let row"> {{row.package | currency:'INR' }}L.P.A</td>
      </ng-container>

       <!-- Experience Column -->
       <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
        <td mat-cell *matCellDef="let row"> {{row.experience}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20,25,100]"
                  
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
 </div>
  

